<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数组遍历</title>
    <!--引入angularJS的类库资源-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("onApp",[]);
        app.controller("myController",function ($scope) {
            $scope.findAll = function () {
                $scope.list = ['a','b','c','d','e'];
                $scope.userlist = [{name:"湛翔", age:20},{name:"湛翔1", age:21},{name:"湛翔2", age:22}]
            }
        })
    </script>
</head>
<body ng-app="onApp" ng-controller="myController" ng-init="findAll()">

    <div ng-repeat="str in list">
        {{str}}
    </div>

    <div ng-repeat="u in userlist">
        {{u.name}} ----- {{u.age}}
    </div>
</body>
</html>